name: Bump version

on:
  push:
    branches:
      - master

jobs:
  bump-version:
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    name: "Bump version and create changelog with commitizen"
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          token: {{ '"${{ secrets.GITHUB_TOKEN }}"' }}
          fetch-depth: 0
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          git_name: {{ cookiecutter.full_name }}
          git_email: {{ cookiecutter.email }}
          github_token: {{ '${{ secrets.GITHUB_TOKEN }}' }}
          changelog_increment_filename: body.md
          extra_requirements: cz-github-jira-conventional-footer
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: "body.md"
          tag_name: {{ '${{ env.REVISION }}' }}
        env:
          GITHUB_TOKEN: {{ '${{ secrets.GITHUB_TOKEN }}' }}

