name: update github pages documentation

# build the documentation whenever there are new commits on main
on:
  push:
    branches:
      - master

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: snok/install-poetry@v1

      - name: Switch authentication methods for private repositories
        run: git config --global url."https://{% raw %}${{ secrets.PERSONAL_ACCESS_TOKEN }}{% endraw %}@github.com/{{ cookiecutter.github_username }}".insteadOf ssh://git@github.com/{{ cookiecutter.github_username }}
      - name: Install dependencies
        run: |
        poetry install
        poetry add pdoc --dev
      - name: Build documentation
        run: poetry run pdoc -d numpy -o docs {{ cookiecutter.project_slug }}

      - run: tar --directory docs/ -hcf artifact.tar .
      - uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: ./artifact.tar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: {{ '${{ steps.deployment.outputs.page_url }}' }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v1