name: Update GitHub Wiki

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: {{ '${{ secrets.GITHUB_TOKEN }}' }}
      - uses: actions/setup-python@v3
      - uses: snok/install-poetry@v1

      - name: Install dependencies
        run: |
        poetry install
        poetry add pdoc3 --dev
      - name: Build Documentation
        run: |
        poetry run pdoc --force -o docs {{ cookiecutter.project_slug }}
        mv docs/{{ cookiecutter.project_slug }}/index.md docs/{{ cookiecutter.project_slug }}/Home.md

      - name: Upload Documentation to Wiki
        uses: SwiftDocOrg/github-wiki-publish-action@v1
        with:
          path: "docs/{{ cookiecutter.project_slug }}"
        env:
          GH_PERSONAL_ACCESS_TOKEN: {{ '${{ secrets.PERSONAL_ACCESS_TOKEN }}' }}